In [2]:
import pandas as pd
import numpy as np

In [3]:
# Reading in the data
indv_items = pd.read_csv("../data/uncleaned_taco_bell_indv_items.csv", index_col=0)
indv_items.shape

(121, 28)

In [4]:
indv_items.info()
indv_items.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 121 entries, 0 to 120
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   item_name            121 non-null    object
 1   price                121 non-null    object
 2   Calories             121 non-null    int64
 3   Total Fat            121 non-null    object
 4   Saturated Fat        121 non-null    object
 5   Trans Fat            121 non-null    object
 6   Cholesterol          121 non-null    object
 7   Sodium               121 non-null    object
 8   Total Carbohydrates  121 non-null    object
 9   Dietary Fiber        121 non-null    object
 10  Sugars               121 non-null    object
 11  Added Sugars         121 non-null    object
 12  Protein              121 non-null    object
 13  Vitamin D            121 non-null    object
 14  Calcium              121 non-null    object
 15  Iron                 121 non-null    object
 16  Potassium            121 non-null    object
 17  Gluten               94 non-null     float64
 18  Milk                 94 non-null     float64
 19  Wheat                94 non-null     float64
 20  Soy                  94 non-null     float64
 21  Eggs                 94 non-null     float64
 22  Fish                 94 non-null     float64
 23  Shellfish            94 non-null     float64
 24  Tree Nuts            94 non-null     float64
 25  Peanuts              94 non-null     float64
 26  MSG                  94 non-null     float64
 27  Sesame               94 non-null     float64
dtypes: float64(11), int64(1), object(16)
memory usage: 27.4+ KB

,item_name,price,Calories,Total Fat,Saturated Fat,Trans Fat,Cholesterol,Sodium,Total Carbohydrates,Dietary Fiber,...,Milk,Wheat,Soy,Eggs,Fish,Shellfish,Tree Nuts,Peanuts,MSG,Sesame
0,Soft Taco,$1.79,180,8g,4g,0g,25mg,500mg,18g,3g,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Soft Taco Supreme®,$2.69,210,10g,5g,0g,25mg,510mg,20g,3g,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Spicy Potato Soft Taco,$1.00,240,12g,3g,0g,10mg,480mg,28g,2g,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Crunchy Taco,$1.79,170,10g,3.5g,0g,25mg,300mg,13g,3g,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Crunchy Taco Supreme®,$2.69,190,11g,4.5g,0g,25mg,320mg,15g,3g,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
def remove_substrings(df, substrings=['mcg', '$', 'mg', 'g', '<']):
    # Loop over columns and replace substrings
    for col in df.columns:
        if df[col].dtype == 'object':  # Check if column is of string type
            for substring in substrings:
                df[col] = df[col].str.replace(substring, '')
    return df

In [13]:
indv_items_data = remove_substrings(indv_items)
indv_items_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 121 entries, 0 to 120
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   item_name            121 non-null    object
 1   price                121 non-null    object
 2   Calories             121 non-null    int64
 3   Total Fat            121 non-null    object
 4   Saturated Fat        121 non-null    object
 5   Trans Fat            121 non-null    object
 6   Cholesterol          121 non-null    object
 7   Sodium               121 non-null    object
 8   Total Carbohydrates  121 non-null    object
 9   Dietary Fiber        121 non-null    object
 10  Sugars               121 non-null    object
 11  Added Sugars         121 non-null    object
 12  Protein              121 non-null    object
 13  Vitamin D            121 non-null    object
 14  Calcium              121 non-null    object
 15  Iron                 121 non-null    object
 16  Potassium            121 non-null    object
 17  Gluten               94 non-null     float64
 18  Milk                 94 non-null     float64
 19  Wheat                94 non-null     float64
 20  Soy                  94 non-null     float64
 21  Eggs                 94 non-null     float64
 22  Fish                 94 non-null     float64
 23  Shellfish            94 non-null     float64
 24  Tree Nuts            94 non-null     float64
 25  Peanuts              94 non-null     float64
 26  MSG                  94 non-null     float64
 27  Sesame               94 non-null     float64
dtypes: float64(11), int64(1), object(16)
memory usage: 27.4+ KB

/var/folders/hb/wd37_kn90v3dbksczgwkk_m40000gn/T/ipykernel_45448/2452006961.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df[col] = df[col].str.replace(substring, '')

In [14]:
# Changing data types from object to float

print(f"Prevouse data types\n{indv_items_data.dtypes}")

def object_to_float(df):
# Convert the specified columns to float
    for col in df.columns[1:]:
        df[col] = df[col].astype(float)
    return df

Prevouse data types
item_name               object
price                   object
Calories                 int64
Total Fat               object
Saturated Fat           object
Trans Fat               object
Cholesterol             object
Sodium                  object
Total Carbohydrates     object
Dietary Fiber           object
Sugars                  object
Added Sugars            object
Protein                 object
Vitamin D               object
Calcium                 object
Iron                    object
Potassium               object
Gluten                 float64
Milk                   float64
Wheat                  float64
Soy                    float64
Eggs                   float64
Fish                   float64
Shellfish              float64
Tree Nuts              float64
Peanuts                float64
MSG                    float64
Sesame                 float64
dtype: object

In [15]:
indv_items_data = object_to_float(indv_items_data)
print(f"Updated data types\n{indv_items_data.dtypes}")

Updated data types
item_name               object
price                  float64
Calories               float64
Total Fat              float64
Saturated Fat          float64
Trans Fat              float64
Cholesterol            float64
Sodium                 float64
Total Carbohydrates    float64
Dietary Fiber          float64
Sugars                 float64
Added Sugars           float64
Protein                float64
Vitamin D              float64
Calcium                float64
Iron                   float64
Potassium              float64
Gluten                 float64
Milk                   float64
Wheat                  float64
Soy                    float64
Eggs                   float64
Fish                   float64
Shellfish              float64
Tree Nuts              float64
Peanuts                float64
MSG                    float64
Sesame                 float64
dtype: object

In [16]:
indv_items_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 121 entries, 0 to 120
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   item_name            121 non-null    object
 1   price                121 non-null    float64
 2   Calories             121 non-null    float64
 3   Total Fat            121 non-null    float64
 4   Saturated Fat        121 non-null    float64
 5   Trans Fat            121 non-null    float64
 6   Cholesterol          121 non-null    float64
 7   Sodium               121 non-null    float64
 8   Total Carbohydrates  121 non-null    float64
 9   Dietary Fiber        121 non-null    float64
 10  Sugars               121 non-null    float64
 11  Added Sugars         121 non-null    float64
 12  Protein              121 non-null    float64
 13  Vitamin D            121 non-null    float64
 14  Calcium              121 non-null    float64
 15  Iron                 121 non-null    float64
 16  Potassium            121 non-null    float64
 17  Gluten               94 non-null     float64
 18  Milk                 94 non-null     float64
 19  Wheat                94 non-null     float64
 20  Soy                  94 non-null     float64
 21  Eggs                 94 non-null     float64
 22  Fish                 94 non-null     float64
 23  Shellfish            94 non-null     float64
 24  Tree Nuts            94 non-null     float64
 25  Peanuts              94 non-null     float64
 26  MSG                  94 non-null     float64
 27  Sesame               94 non-null     float64
dtypes: float64(27), object(1)
memory usage: 27.4+ KB

In [17]:
data_drpped = indv_items_data.dropna()

In [19]:
data_drpped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94 entries, 0 to 120
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   item_name            94 non-null     object
 1   price                94 non-null     float64
 2   Calories             94 non-null     float64
 3   Total Fat            94 non-null     float64
 4   Saturated Fat        94 non-null     float64
 5   Trans Fat            94 non-null     float64
 6   Cholesterol          94 non-null     float64
 7   Sodium               94 non-null     float64
 8   Total Carbohydrates  94 non-null     float64
 9   Dietary Fiber        94 non-null     float64
 10  Sugars               94 non-null     float64
 11  Added Sugars         94 non-null     float64
 12  Protein              94 non-null     float64
 13  Vitamin D            94 non-null     float64
 14  Calcium              94 non-null     float64
 15  Iron                 94 non-null     float64
 16  Potassium            94 non-null     float64
 17  Gluten               94 non-null     float64
 18  Milk                 94 non-null     float64
 19  Wheat                94 non-null     float64
 20  Soy                  94 non-null     float64
 21  Eggs                 94 non-null     float64
 22  Fish                 94 non-null     float64
 23  Shellfish            94 non-null     float64
 24  Tree Nuts            94 non-null     float64
 25  Peanuts              94 non-null     float64
 26  MSG                  94 non-null     float64
 27  Sesame               94 non-null     float64
dtypes: float64(27), object(1)
memory usage: 21.3+ KB

# Removing duplicates, limited time items, and sauces

## Removal of duplicates

In [47]:
bool_series = indv_items_data.duplicated()
bool_series

0      False
1      False
2      False
3      False
4      False
       ...
116    False
117    False
118     True
119     True
120    False
Length: 121, dtype: bool

In [48]:
# Use the keep parameter to consider only the first instance of a duplicate row to be unique
bool_series = indv_items_data.duplicated(keep='first')
print('Boolean series:')
print(bool_series)
print('\n')
print('DataFrame after keeping only the first instance of the duplicate rows:')

# The `~` sign is used for negation. It changes the boolean value True to False and False to True.
indv_items_data[~bool_series]

Boolean series:
0      False
1      False
2      False
3      False
4      False
       ...
116    False
117    False
118     True
119     True
120    False
Length: 121, dtype: bool


DataFrame after keeping only the first instance of the duplicate rows:

,item_name,price,Calories,Total Fat,Saturated Fat,Trans Fat,Cholesterol,Sodium,Total Carbohydrates,Dietary Fiber,...,Milk,Wheat,Soy,Eggs,Fish,Shellfish,Tree Nuts,Peanuts,MSG,Sesame
0,Soft Taco,1.79,180.0,8.0,4.0,0.0,25.0,500.0,18.0,3.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Soft Taco Supreme®,2.69,210.0,10.0,5.0,0.0,25.0,510.0,20.0,3.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Spicy Potato Soft Taco,1.00,240.0,12.0,3.0,0.0,10.0,480.0,28.0,2.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Crunchy Taco,1.79,170.0,10.0,3.5,0.0,25.0,300.0,13.0,3.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Crunchy Taco Supreme®,2.69,190.0,11.0,4.5,0.0,25.0,320.0,15.0,3.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,Breakfast California Crunchwrap,3.99,630.0,37.0,12.0,0.0,130.0,1340.0,53.0,5.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
115,Breakfast Crunchwrap Bacon,3.79,670.0,40.0,13.0,0.0,135.0,1300.0,52.0,4.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
116,Breakfast Crunchwrap Sausae,3.79,750.0,49.0,16.0,0.0,145.0,1220.0,53.0,4.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
117,Hash Brown,1.69,160.0,11.0,1.0,0.0,0.0,280.0,14.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,Breakfast Salsa,0.00,0.0,0.0,0.0,0.0,0.0,50.0,1.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [49]:
data = indv_items_data[~bool_series]
data.dtypes

item_name               object
price                  float64
Calories               float64
Total Fat              float64
Saturated Fat          float64
Trans Fat              float64
Cholesterol            float64
Sodium                 float64
Total Carbohydrates    float64
Dietary Fiber          float64
Sugars                 float64
Added Sugars           float64
Protein                float64
Vitamin D              float64
Calcium                float64
Iron                   float64
Potassium              float64
Gluten                 float64
Milk                   float64
Wheat                  float64
Soy                    float64
Eggs                   float64
Fish                   float64
Shellfish              float64
Tree Nuts              float64
Peanuts                float64
MSG                    float64
Sesame                 float64
dtype: object

In [54]:
data_drpped = data.dropna()

In [55]:
data_drpped

,item_name,price,Calories,Total Fat,Saturated Fat,Trans Fat,Cholesterol,Sodium,Total Carbohydrates,Dietary Fiber,...,Milk,Wheat,Soy,Eggs,Fish,Shellfish,Tree Nuts,Peanuts,MSG,Sesame
0,Soft Taco,1.79,180.0,8.0,4.0,0.0,25.0,500.0,18.0,3.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Soft Taco Supreme®,2.69,210.0,10.0,5.0,0.0,25.0,510.0,20.0,3.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Spicy Potato Soft Taco,1.00,240.0,12.0,3.0,0.0,10.0,480.0,28.0,2.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Crunchy Taco,1.79,170.0,10.0,3.5,0.0,25.0,300.0,13.0,3.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Crunchy Taco Supreme®,2.69,190.0,11.0,4.5,0.0,25.0,320.0,15.0,3.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,Breakfast Quesadilla Steak,3.99,510.0,25.0,14.0,0.0,160.0,1310.0,41.0,3.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
114,Breakfast California Crunchwrap,3.99,630.0,37.0,12.0,0.0,130.0,1340.0,53.0,5.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
115,Breakfast Crunchwrap Bacon,3.79,670.0,40.0,13.0,0.0,135.0,1300.0,52.0,4.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
116,Breakfast Crunchwrap Sausae,3.79,750.0,49.0,16.0,0.0,145.0,1220.0,53.0,4.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
120,Breakfast Salsa,0.00,0.0,0.0,0.0,0.0,0.0,50.0,1.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [63]:
data_drpped = data_drpped.drop(data_drpped[data_drpped['item_name']=='Chicken Enchilada Burrito'].index)
data_drpped = data_drpped.drop(data_drpped[data_drpped['item_name']=='Breakfast Salsa'].index)
data_drpped = data_drpped.drop(data_drpped[data_drpped['item_name']=='Nacho Cheese Sauce'].index)
# data = data.drop(data[data['item_name']=='Red Sauce'].index)
# data = data.drop(data[data['item_name']=='Strawberry Twists'].index)
# data = data.drop(data[data['item_name']=='Wild Strawberry Freeze'].index)
# data = data.drop(data[data['item_name']=='Hash Brown'].index)


data_drpped

,item_name,price,Calories,Total Fat,Saturated Fat,Trans Fat,Cholesterol,Sodium,Total Carbohydrates,Dietary Fiber,...,Milk,Wheat,Soy,Eggs,Fish,Shellfish,Tree Nuts,Peanuts,MSG,Sesame
0,Soft Taco,1.79,180.0,8.0,4.0,0.0,25.0,500.0,18.0,3.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Soft Taco Supreme®,2.69,210.0,10.0,5.0,0.0,25.0,510.0,20.0,3.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Spicy Potato Soft Taco,1.00,240.0,12.0,3.0,0.0,10.0,480.0,28.0,2.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Crunchy Taco,1.79,170.0,10.0,3.5,0.0,25.0,300.0,13.0,3.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Crunchy Taco Supreme®,2.69,190.0,11.0,4.5,0.0,25.0,320.0,15.0,3.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,Breakfast Quesadilla Bacon,3.69,510.0,27.0,14.0,0.0,150.0,1250.0,41.0,3.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
113,Breakfast Quesadilla Steak,3.99,510.0,25.0,14.0,0.0,160.0,1310.0,41.0,3.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
114,Breakfast California Crunchwrap,3.99,630.0,37.0,12.0,0.0,130.0,1340.0,53.0,5.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
115,Breakfast Crunchwrap Bacon,3.79,670.0,40.0,13.0,0.0,135.0,1300.0,52.0,4.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
116,Breakfast Crunchwrap Sausae,3.79,750.0,49.0,16.0,0.0,145.0,1220.0,53.0,4.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [75]:
data_drpped.to_csv("//Users/noorashrifeh/personalCode/TbellOpt./data/data_inprogress.csv")

In [76]:
data_drpped.columns

Index(['item_name', 'price', 'Calories', 'Total Fat', 'Saturated Fat',
       'Trans Fat', 'Cholesterol', 'Sodium', 'Total Carbohydrates',
       'Dietary Fiber', 'Sugars', 'Added Sugars', 'Protein', 'Vitamin D',
       'Calcium', 'Iron', 'Potassium', 'Gluten', 'Milk', 'Wheat', 'Soy',
       'Eggs', 'Fish', 'Shellfish', 'Tree Nuts', 'Peanuts', 'MSG', 'Sesame'],
      dtype='object')